header {
	background-color: rbg(178,214,255);
}

.div1-main {
	background-color: rbg(245,207,142);
}

.div2-main {
	background-color: rbg(200,198,250);
}

.div3-main {
	background-color: rbg(240,154,157);
}

.div4-main {
	background-color: rbg(214,233,254);
}

.div5-main {
	background-color: rbg(214,233,254);
}

