p {
	color: rgb(78,160,162);
	text-align: center;
}
.container {
	background-color: rgb(255,242,244);
	display: flex;
	flex-direction: column;	
	padding: 10px
	height: 100vh;
}

header, main, aside {
	background-color: rgb(255,191,203);
	margin: 10px;
}

header {
	width: auto;
	height: 20vh;
}

.main-aside {
	display: flex;
	flex-direction: column;
}

main {
	height: 60vh;
}

aside {
	height: 20vh;
}

@media screen and (min-width: 1024px) {
	.main-aside {
		flex-direction: row;
		height: 80vh;
	}

	main {
		width: 80%;
		height: 80vh;
	}

	aside {
		width: 20%;
		height: 80vh;
	}
}





