/*fontes usadas*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
	letter-spacing: 0.5px;
}

body {
	background: #eaff6a;
	padding: 30px;
}

header {
	background: white;
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 20px;
}

/*animações pro .header-title*/
@keyframes ola {
	0% {
		background: pink;
		transform: rotate(0deg);
	}
	25% {
		background: yellow;
		transform: rotateY(90deg);
	}
	50% {
		background: skyblue;
		transform: rotateY(160deg);
	}
	75% {
		background: green;
		transform: rotateY(250deg);
	}
	100% {
		background: red;
		transform: rotateY(360deg);
	}
}

.header-title {
	width: auto;
	text-align: center;
	padding: 10px 30px;
	border-radius: 35px 5px;
	font-size: 20px;
	margin-bottom: 10px;
	animation-name: ola;
	animation-duration: 4s;	
	animation-iteration-count: infinite;
}

.header-intro {

}

.indice {
	background: white;
	border: 1px solid black;
	padding: 10px 50px;
}

.indice-title {
	margin-bottom: 10px;
}
