      body {
        font-family: 'DM Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
      }

      header, section, article, footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 10px;
      }

      header {
        background-color: black;
        color: #D1E500;
      }

      section {
        color: white;
        background-color: #7a7a79;
      } 

      article {
        color: black;
        background-color: #f0f0f0;
      } 

      footer {
        background-color: #eaff6a;
      }

      a:link, a:visited, a:active, a:hover {
        text-decoration: none;
        color: #4fb3c4;
      }

      a:hover {
        background-color: #eaff6a;
      }

      th, td, section, article, footer, header {
        border: 3px solid black;
      }

      table {
        margin: 10px;
      }

      th, td {
        color: black;
      }

      th {
        text-align: center;
        background-color: #eaff6a;
        padding: 1em 2em;
      }

      td {
        background-color: white;
        padding: 7px;
      }

      h1 {
        font-size: 36px;
      }

      .fundo-diferentao-h1 { 
        padding: 0 20px;
        border-radius: 30px;
        border: 5px dashed #3EB489;        
      }

      .link-referencia-secao {
        width: 100%;
        text-align: center;
      }