/*Atividade 1*/
.desafio1-1 {
	background: blue;
}

.lista1-1 {
	background: blueviolet;
}

.lista2-1 {
	background: skyblue;
}


/*Atividade 2*/
.desafio1-2 {
	color: orange;
}

.lista1-2 {
	list-style-image: url("../../img/icon.svg");
}

.lista2-2 {
}

.lista1-2, .lista2-2 {
	color: #00d5ff;
	background: rgba(213, 245, 142, 0.8);
}

/*Atividade 3*/
.body-ativ3 {
	font-family: 'Caveat', cursive;
	font-size: 1.5rem;
}