/*fontes usadas*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');


* {
	font-family: 'DM Sans', sans-serif;
	letter-spacing: 0.5px;
	font-size: 20px;
	background: white;
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 30px;
	gap: 20px;	
	background: #eaff6a;
}

.itens, .itens__header{
	width: 60%;
	border: 1px solid black;	
	padding: 0 26px;
}

.itens__header {
	border-radius: 35px 5px;
}


header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.ativ__icon {	
	background: #eaff6a;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ativ__icon img {	
	width: 30px;
	height: 30px;
	background: #eaff6a;
}

h1 {
	font-size: 40px;
}

li {
	list-style: none;
}

li:before{	
	content: "\2713";
	margin-right: 10px;
}

a {
	text-decoration: none;
	background: #eaff6a;
	padding: 5px;
	border-radius: 15px 5px;
	border: 1px solid black;
	color: black;
}

.ativ__compl__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.ativ__compl__icon__container {	
	background: black;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.ativ__compl__icon__container img {
	width: 30px;
	height: 30px;	
	border-radius: 10px;
	background: black;
}
